# Database
# For Neon Postgres, use the connection string from your dashboard
DATABASE_URL=postgresql://neondb_owner:npg_GLvDy4jrXQe3@ep-lucky-term-ab6wuzyj-pooler.eu-west-2.aws.neon.tech/biais_db?sslmode=require&channel_binding=require

# Auth
JWT_SECRET=your-secret-key-change-me-jisnlajds-fajdnaslk-afmdaop-afjidaop

# SMTP Email Configuration (Mailtrap Sandbox Example)
# Copy these from: https://mailtrap.io/sandboxes/
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=anasyakubuabubakar@gmail.com
SMTP_PASS=snxdaulstborexkh
